@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
  --border-input: #ab6262;

  --font-poppins: "Poppins", sans-serif;
  --font-khand: "Khand", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030c23;
    --text-color: #ededed;
    --foreground: #212642;
    --border-input: 1px solid #ab6262;
    --font-poppins: "Poppins", sans-serif;
    --font-khand: "Khand", serif;
  }
}

body {
  color: var(--text-color);
  background: var(--background);
}
